body {
    width: 100vw;
    height: 100vh;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#message-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.current-message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 2vw 5vw;
    font-size: 2vw;
    width: 60vw;
    text-shadow: 0 0 0.25vw rgb(161, 161, 208);
    color: rgb(161, 161, 208);
}

.flex-item {
    text-align: center;
    display: inline;
}

.center {
    opacity: 1;
    animation: fadeIn 5s infinite;
}

.left {
    width: 100%;
    text-align: right;
}

.right {
    width: 100%;
    text-align: left;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
